<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.sgms_20">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Untangle"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".AddAdmin"></activity>
        <activity android:name=".adminSetup" />
        <activity
            android:name=".EntryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.customTheme" />
        <activity
            android:name=".StarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.customTheme" />
        <activity
            android:name=".SnackBarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.customTheme" />
        <activity android:name=".password" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SideMenu"
            android:screenOrientation="portrait"
            android:theme="@style/Dialog" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Dialog"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ClickPostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Dialog" />
        <activity
            android:name=".CommentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.customTheme" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Dialog" />
        <activity
            android:name=".SetupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProItemView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.customTheme" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin_Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".The_First"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>